@import 'src/helpers';
@import 'src/base';

:host {
  display: flex;
  align-items: center;
  padding: var(--proto-space);
  background: white;
}

img {
  display: block;
  flex: none;
  width: 35%;
  max-width: 117px;
  margin-right: var(--proto-space);
}

.footer-content {

  &__info {
    @extend %small;
      margin-bottom: 12px;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    width: 100%;

    &, .footer-copyright {
      @extend %teaser;
    }

    a {
      color: var(--ion-color-dark);
    }

    .footer-copyright {
      flex: none;
      margin-left: auto;
    }
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;

  a {
    margin-top: var(--proto-space-xs);
    margin-right: var(--proto-space-s);
  }
}
