<ion-item mode="ios" class="proto-input proto-input--password has-valid-state">
  <ion-label position="floating">{{ label }}</ion-label>
  <ion-input value=""
    [type]="isVisible ? 'text' : 'password'"
    [placeholder]="placeholder"
    [(ngModel)]="value">
  </ion-input>
  <ion-button class="toggle-password-button" color="medium" fill="clear" slot="end"
    (click)="isVisible = !isVisible">
    <ion-icon
      [name]="isVisible ? 'eye' : 'eye-off'">
    </ion-icon>
  </ion-button>
</ion-item>
