:host {

  &.ng-touched.ng-invalid .proto-input {
    --border-color: var(--ion-color-danger);
  }

  &.ng-touched.ng-valid .proto-input {
    --border-color: var(--ion-color-success);
  }
}

.toggle-password-button {
  width: 44px;
  height: 100%;
  margin: 0;
}
