:root {
  --ion-font-family: 'Hind', sans-serif;
  --proto-font-family-headlines: 'Cormorant', sans-serif;
  --proto-font-size: 16px; // default font size
  --proto-line-height: 1.5; // default line height
}

$font-path: "~/assets/fonts";

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: normal;
  src: local('Cormorant Regular'), local('Cormorant Regular'),
  url('#{$font-path}/cormorant-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/cormorant-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant Bold'), local('Cormorant Bold'),
  url('#{$font-path}/cormorant-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/cormorant-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-weight: 700;
  font-family: 'Hind';
  font-style: normal;
  src: local('Hind Bold'), local('Hind Bold'),
  url('#{$font-path}/hind-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/hind-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-weight: normal;
  font-family: 'Hind';
  font-style: normal;
  src: local('Hind Regular'), local('Hind Regular'),
  url('#{$font-path}/hind-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/hind-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: local('Hind Semi Bold'), local('Hind Semi Bold'),
  url('#{$font-path}/hind-v10-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/hind-v10-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local('Hind Bold'), local('Hind Bold'),
  url('#{$font-path}/hind-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{$font-path}/hind-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


%font-properties {
  font-family: var(--proto-font-family, sans-serif);
  font-size: var(--proto-font-size);
  font-weight: var(--proto-font-weight, inherit);
  font-style: var(--proto-font-style, inherit);
  line-height: var(--proto-line-height, inherit);
  text-transform: var(--proto-text-transform, inherit);
  letter-spacing: var(--proto-letter-spacing, initial);
}

$h: (
  1: (
    'font-size': 50px,
    'line-height': 55px,
  ),
  2: (
    'font-size': 40px,
  ),
  3: (
    'font-size': 35px,
  ),
  4: (
    'font-size': 30px,
  ),
  5: (
    'font-size': 24px,
  ),
  6: (
    'font-size': 20px,
  ),
  7: (
    'font-size': 18px,
  ),
  8: (
    'font-size': 16px,
  )
);

//TODO: -> helpers -> get (using deep maps)
@function h($id, $key) {
  @return map-get(map-get($h, $id), $key);
}

// inspired by https://css-tricks.com/do-css-custom-properties-beat-sass-loops/
h1, .h1, %h1 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 50px;
  --proto-line-height: 55px;
  --proto-font-weight: bold;
}

h2, .h2, %h2 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 40px;
  --proto-line-height: 45px;
  --proto-font-weight: bold;
}

h3, .h3, %h3 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 35px;
  --proto-line-height: 40px;
  --proto-font-weight: bold;
}

h4, .h4, %h4 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 30px;
  --proto-line-height: 37px;
  --proto-font-weight: bold;
}

h5, .h5, %h5 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 24px;
  --proto-line-height: 30px;
  --proto-font-weight: bold;
}

h6, .h6, %h6 {
  --proto-font-family: var(--proto-font-family-headlines);
  --proto-font-size: 20px;
  --proto-line-height: 25px;
  --proto-font-weight: bold;
}

h7, .h7, %h7 {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 18px;
  --proto-line-height: 20px;
  --proto-font-weight: bold;
}

h8, .h8, %h8 {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 16px;
  --proto-line-height: 24px;
  --proto-font-weight: bold;
}

p, .p, %p {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 14px;
  --proto-line-height: 20px;
  --proto-font-weight: normal;
}

teaser, .teaser, %teaser {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 12px;
  --proto-line-height: 14px;
  --proto-font-weight: bold;
}

button, .button, %button {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 10px;
  --proto-line-height: 14px;
  --proto-font-weight: bold;
  text-transform: uppercase;
}

small, .small, %small {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 10px;
  --proto-line-height: 12px;
  --proto-font-weight: 400;
}

tiny, .tiny, %tiny {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 9px;
  --proto-line-height: 12px;
  --proto-font-weight: 400;
}

input, .input, %input {
  --proto-font-family: var(--ion-font-family);
  --proto-font-size: 14px;
  --proto-line-height: 1.5;
  --proto-font-weight: 400;

  .ios & {
    --proto-font-size: 16px;
  }
}

$font-tags: h1 h2 h3 h4 h5 h6 p teaser button small tiny input;

// Reset default margin for font tags
@each $h in $font-tags {
  #{$h}, .#{$h}, %#{$h} {
    @extend %font-properties;
  }

  #{$h} {
    margin: 0;
  }
}

.hyperlink, %hyperlink {
  @extend %p;
  font-family: 'Hind';
  font-weight: bold;
  color: var(--ion-color-primary);
  text-decoration: none;
  cursor: pointer;
}
